{% extends "base.html.twig" %}

{% block title %}
    Cadastro de paciente -
{% endblock %}

{% block body %}
    <h1>Cadastrar paciente</h1>
    <hr>
    {% include "paciente/_form.html.twig" %}
{% endblock %}